/* Template styling */

html,
body {
  margin: 0;
  font-family: 'Poppins';
}

body {
  background: url('../images/projectStars.jpg') no-repeat;
  background-attachment: fixed;
  font-family: 'Poppins';
}

#logo-container {
  background: url('../images/logos.png') no-repeat center center;
  background-size: cover;
  height: 70px;
  /* Set to the height you want */
  width: 214px;
  /* Set to the width you want */
  margin-left: 12px;
  margin-right: 12px;
  padding-left: 0;
  cursor: pointer;
}

div#app {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    'header header header'
    'menu menu menu'
    'container container container'
    'footer footer footer'
  ;
  min-height: 100vh;
}

header {
  grid-area: header;
  height: 0;
  background-color: black;
}

nav {
  grid-area: menu;
  height: 60px;
  background-color: black;
  font-size: 1.75em;
  line-height: 60px;
  padding: 25px;
  color: white;
  display: flex;
  margin-left: 0;
  padding-left: 5px;
}

nav a {
  color: rgb(95, 191, 255);
  text-decoration: none;
  margin: 0 2px;
  margin-left: 5px;
}

nav a:hover {
  color: rgb(198, 115, 247);
}

#container {
  grid-area: container;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
  color: #ccc;
}

.hidden {
  display: none;
}

a.active {
  color: white;
  font-weight: bold;
}

span.favorite {
  padding-left: 10px;
  cursor: pointer;
}

span.favorite.active {
  color: rgb(255, 0, 149);
}

span.favorite:hover {
  color: rgb(187, 135, 255)
}

/* End template styling */



/* Add your styles below */


/* Homepage styles */



/* End homepage styles */
/* NEW STYLES */

.nav-links {
  margin-bottom: 10px;
  /* Adjust this value to change the space between the navigation tabs and the search bar */
}

/* search-bar styles*/
.search-bar {
  width: 100%;
  max-width: 600px;
  background-color: rgba(240, 248, 255, 0.197);
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding: 10px 10px;
  margin: 0 15px;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 25px 20px;
  font-size: 25px;
  color: white;
}

.search-bar button img {
  width: 38px;
  border-radius: 50%;
}

.search-bar button {
  border: 0;
  cursor: pointer;
  background: transparent;

}

/*Search items styles*/

.gif-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* 5 per row */
  grid-gap: 10px;
  /* gap between all gifs */
  align-items: center;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}

.gif-img-item {
  border-radius: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

/* UPLOAD PAGE */
/*Upload parent container*/
.parent-upload {
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 10px;
}

/*Gif upload container*/
.upload-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  min-width: 50%;
  background: linear-gradient(315deg, #b621fe 0%, #1fd1f9 98%);
  padding: 30px 15px;
  color: white;
  border-right: black solid;
  border-radius: 25px;
  height: 550px;
  overflow: auto;
}

/*Uploaded gifs outer container*/
.uploaded-container-outer {
  display: grid;
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  margin-top: 20px;
  min-width: 50%;
  padding: 30px 15px;
  background: linear-gradient(315deg, #1fd1f9 0%, #b621fe 90%);
  color: white;
  border-radius: 25px;
  height: 550px;
  letter-spacing: 2px;
  overflow: auto;
}

.upload-container::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar */
}

.uploaded-container-outer::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar */
}


/*Uploaded gifs inner container*/
.uploaded-container-inner {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  overflow: auto;
}

.uploaded-container-inner::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar */
}

/*Uploaded GIF*/
.uploaded-gif {
  border-radius: 20px;
  margin: 5px;
  width: auto;
  height: 200px;
}

.uploaded-gif:hover {
  transform: scale(1.1);
  border: 3px solid white;
}

/*Nothing uploaded text*/
.uploaded-container-inner h3 {
  font-size: x-large;
  border: 2px solid white;
  letter-spacing: 3px;
  border-radius: 20px;
  padding: 30px 30px;
}

.uploaded-container-outer h2 {
  padding-left: 20px;
}

/*Form labels*/
.label {
  margin-left: 10px;
  font-size: 25px;
  padding: 3px;
}

/*Form input fields*/
.upload-element {
  margin-left: 10px;
  border: none;
  border-radius: 20px;
  font-size: 25px;
  padding: 15px;
  padding-left: 20px;
}

.upload-container h2 {
  text-align: center;
  letter-spacing: 2px;
}


/*Upload form*/
#form {
  display: flex;
  flex-direction: column;
}

/*Form Buttons*/
/*Choose file button*/
#file::file-selector-button {
  margin-top: 5px;
  border: none;
  color: #7700b3cc;
  background-color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

/*Upload button*/

#upload,
.new-upload {
  font-size: x-large;
  color: #7700b3cc;
  background-color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  position: relative;
  line-height: 55px;
  display: block;
  margin: 40px auto 20px auto;
  padding: 0px 40px;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
}

#upload:hover {
  color: #ffffff;
  background: transparent;
  box-shadow: none;
}

#upload:before,
#upload:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #ffffff;
  box-shadow:
    -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}

#upload:after,
.new-upload::after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

#upload:hover:before,
#upload:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

/*Loading page container*/
.load-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  padding: 30px 15px;
  border-radius: 25px;
  background-color: #efc4042d;
  background-image: linear-gradient(to bottom right, #faef5592, #efc4047f);
  color: white;
}

/*Loading page text*/
.load-container h2 {
  padding: 10px;
  margin: 10px;
  margin-right: 25px;
}

/*Loading animation*/
.loader {
  border: 15px solid #f3f3f3;
  border-top: 15px solid #efc404;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*When GIF successfully added */
.success-container {
  border-radius: 25px;
}

.success-upload {
  background-color: #a6e700;
  background-image: linear-gradient(to bottom right, #a6e700, #5ac922);
  color: white;
  border-radius: 25px;
  padding: 5px;
  text-align: center;
  margin-bottom: 20px;
}

.success-upload h2 {
  margin: 20px 25px;
}

#success-image {
  text-align: center;
}

#success-image img {
  text-align: center;
  border-radius: 25px;
  padding: 10px;
  margin: 5px;
  box-shadow: 10px 10px 5px #5ac92270;
  max-width: 300px;
}

/*When GIF upload fail*/
.fail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  padding: 30px 15px;
  border-radius: 25px;
  background-color: #ff5e3ab8;
  background-image: linear-gradient(to bottom right, #ff5e3a, #d30000);
  color: white;
  border-radius: 25px;
}

.fail-message {
  color: white;
  border-radius: 25px;
  padding: 35px 80px;
  text-align: center;
}

/*Button try again on failed container*/
.try-again {
  margin: 20px;
  border: none;
  padding: 15px 30px;
  font-size: x-large;
  color: #d30000;
  background-color: white;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
}

/*Details style*/

.gif-card {
  width: 90%;
  /* Adjust this value */
  height: auto;
  margin: 0 auto;
  /* Centers the card horizontally */
  margin-top: 20px;
  /* Adjust this value to move the card higher or lower */
  grid-template-columns: 1fr;
  grid-template-rows: 280px 280px 280px;
  grid-template-areas:
    "image"
    "text";

  border-radius: 18px;
  background: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
}

.gif-card> :last-child {
  margin-bottom: 2px;
}

.card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-image img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

.gif-detail {
  grid-area: text;
}

.gif-detail p {
  color: #080111;
  font-size: 15px;
  font-weight: 300;
}

.gif-detail h2 {
  margin-top: 20px;
  font-size: 56px;
  font-weight: bold;

}

#popup-container {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 5px;
  background: rgba(53, 50, 50, 0.5);
  width: 40%;
  height: auto;
  max-width: 300px;
  max-height: 600px;
  border-radius: 15px;
  /* Simplified border-radius */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: auto;
  display: none;

}

#popup-container::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar */
}

#close-popup {
  position: relative;
  background-color: transparent;
  color: white;
  padding: 1px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 0.5px;
  cursor: pointer;
  transition: 0.25s;
  border: 2px solid white;
  /* Add a border */
  z-index: 1;
  border-radius: 50%;
  float: right;
}

#close-popup::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  background: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  z-index: -1;
  border-radius: inherit;
  transition: opacity 0.25s;
  opacity: 0;
}

#close-popup:hover::before {
  opacity: 1;
}

#close-popup:hover {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(31, 209, 249, 0.7), 0 0 0 0 rgba(182, 33, 254, 0.7);
  }

  50% {
    box-shadow: 0 0 10px 2px rgba(31, 209, 249, 0.7), 0 0 20px 2px rgba(182, 33, 254, 0.7);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(31, 209, 249, 0.7), 0 0 0 0 rgba(182, 33, 254, 0.7);
  }
}

/*Favorite section*/
/*Favorite button*/
.heart-wrapper {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: white;
  border-radius: 50px;
  -webkit-box-shadow: 0px 3px 29px 0px rgba(160, 160, 160, 1);
  -moz-box-shadow: 0px 3px 29px 0px rgba(160, 160, 160, 1);
  box-shadow: 0px 3px 29px 0px rgba(160, 160, 160, 1);
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-wrapper:hover {
  -webkit-box-shadow: 0px 2px 15px 0px rgba(117, 117, 117, 1);
  -moz-box-shadow: 0px 2px 15px 0px rgba(117, 117, 117, 1);
  box-shadow: 0px 2px 15px 0px rgba(117, 117, 117, 1);
}

.img-wrapper {
  position: relative;
}


.add-favorite-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 30px;
  padding: 12px 24px;
  color: #333;
}

.add-favorite-btn.active {
  color: #ff0000;
}

/*Favorite view*/

#no-favorites h1 {
  display: flex;
  font-size: 250%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#no-favorites h2 {
  display: flex;
  font-size: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#favorites h1 {
  display: flex;
  font-size: 250%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
  list-style: none;
  margin-right: 40px;
}

.content img {
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.random-gif {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

.random-gif img {
  border-radius: 10px;
  width: 30%;
  height: auto;
  aspect-ratio: 1 / 1;
}

/*Trending view*/
/*Trending GIFs view*/
.gif-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  margin-right: 40px;
}

.gif-grid img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

/*Remove the ul dot in trending*/
.gif-grid {
  list-style: none;
  flex-wrap: wrap;
  list-style: none;
}

/*Remove the ul dot in trending*/
.gif-grid {
  list-style: none;
  flex-wrap: wrap;
  list-style: none;
}

/*About app view*/

#about h1 {
  display: flex;
  font-size: 250%;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  color: white;
}

#about h2 {
  position: absolute;
  left: 300px;
  display: flex;
  font-size: 150%;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  color: white;
}

.author {
  color: rgb(95, 191, 255);
  text-decoration: underline;
  font-size: 32px;
}

.author:hover {
  color: rgb(198, 115, 247);
}

#about h3 {
  position: absolute; /* Add this */
  right: 15%; /* Add this */
  bottom: 2%; /* Add this */
  display: flex;
  font-size: 250%;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  color: white;
}



#gif-about-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 5px;
  background: rgba(53, 50, 50, 0.5);
  width: 500px;
  height: 500px;
  max-width: 600px;
  max-height: 600px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif-about-view {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.welcome {
  font-size: 200%;
  text-align: center;
  width: 50%; 
  width: 50%; 
  margin: 50px auto 0; 
}



#gif-about-popup img {
  border-radius: 15px;
  width: 460px;
  height: 460px;
  object-fit: cover;
  margin-top: -35px;
}

.upload-page {
  margin-left: -10px;
  border-radius: 10px;
  justify-content: center;
  border: 3px solid ;
  margin: -7px;
  padding: 5px;
}